.button__link {
  border-radius: 35px;
  padding: 18px 53px 18px 53px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.button__link--color--orange {
  background: #FF3D00;
}

.button__link--color--orange:hover {
  background: #DA0100;
}

.button__link--color--none {
  color: #FF5500;
  border: 2px solid #FF5500;
  border-radius: 35px;
}

.button__link--color--none:hover {
  color: #ffffff;
  background: #FF5500;
  border: none;
  padding: 20px 53px 20px 53px;
}

.button__link--size--smaller {
  padding: 18px 40px;
}
