.contacts {
  font-style: normal;
  text-align: right;
  padding: 8px 2px 0px 7px;
}

.contacts__telephone {
  display: block;
  height: 28px;
  font-size: 26px;
  text-decoration: none;
}

.contacts__telephone:hover {
  color: #DA0100;
}

.contacts__schedule {
  font-size: 13px;
  color: #FF3D00;
  text-decoration: underline;
}

.contacts__description {
  font-size: 11px;
  color: #9A9A9A;
}

.contacts--footer {
  padding-bottom: 8px;
}