.paginator {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 145.5px;
}

.paginator__description {
  font-size: 16px;
  margin-right: 25px;
}

.paginator__list {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.paginator__item {
  vertical-align: middle;
  margin-right: 2px;
}

.paginator__item:last-child {
  margin-right: 0;
}

.paginator__link {
  line-height: 32px;
  display: block;
  min-width: 32px;
  min-height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}

.paginator__item--active .paginator__link {
  background: #FF5500;
}

.paginator__link:hover {
  background: #FF5500;
  transition: 0.3s;
}

.paginator--service{
  padding-left: 39px;
  padding-top: 17px;
  margin-bottom: 85px;
  color: #000000;
}
.paginator--service .paginator__item:hover .paginator__link {
  color: #fff;
}

.paginator--service .paginator__item--active {
  color: #fff;
}