.partners__title{
  padding-top: 87px;
  margin-bottom: 79px;
  color:#000000;
  font-size: 48px;
  font-weight: 700;
}
.partners__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 43px;
}
.partners__link {
  display: flex;
  width: 230px;
  padding-bottom: 65px;
  align-items: center;
  justify-content: center;
  filter: grayscale(100%);
}

.partners__item:first-child {
  justify-content: flex-start;
  margin-left: 0px;
}
.partners__item:nth-child(4){
  justify-content: flex-end;
}
.partners__item:nth-child(5){
  justify-content: flex-start;
  margin-left: 0px;
}

.partners__link:hover{
  filter: grayscale(0%);
  transition: 0.3s;
}