.review__list {
  columns: 2;
  column-gap: 27px;
  margin-top: 94px;
  margin-bottom: 38px;
}

.review__item {
  display: inline-flex;
  flex-direction: column;
  background: #F4F5F5;
  padding: 50px 31px 32px;
  margin-bottom: 17px;
  border-radius: 5px;
}

.review__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.review__person {
  display: flex;
  justify-items: flex-start;
  margin-bottom: 30px;
}

.review__avatar {
  margin-right: 22px;
}

.review__name {
  display: flex;
  align-items: center;
  color: #1A1B1E;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 12px;
  padding-top: 36px;
}

.review__name:after {
  content: url("../../image/vk-blue.png");
  height: 30px;
  margin-left: 12px;
}

.review__name:hover {
  text-decoration: underline;
  color: #2E77A4;
  transition: 0.3s;
}

.review__title {
  font-size: 30px;
  font-weight: 700;
  color: #202020;
  margin-bottom: 12.5px;
}

.review__description {
  font-size: 16px;
  color: #818181;
  margin-bottom: 48px;
  line-height: 1.7em;
}

.review__date {
  font-size: 14px;
  font-weight: 600;
  color: #1A1B1E;
}
