.socials__list {
min-width: 174px;
display: flex;
justify-content: space-between;
}

.socials__item {
  vertical-align: middle;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 36px;
  height: 36px;
  display: block;
  background: center center no-repeat;
}

.socials__item--icon--tg .socials__link {
  background-image: url("../../image/telegram.png");
}

.socials__item--icon--vk .socials__link {
  background-image: url("../../image/vk.png");
}

.socials__item--icon--fb .socials__link {
  background-image: url("../../image/f.png");
}

.socials__item--icon--inst .socials__link {
  background-image: url("../../image/in.png");
}

.socials__item--icon--tg .socials__link:hover {
  background-image: url("../../image/telegram-hover.png");
}

.socials__item--icon--vk .socials__link:hover {
  background-image: url("../../image/vk-hover.png");
}

.socials__item--icon--fb .socials__link:hover {
  background-image: url("../../image/f-hover.png");
}

.socials__item--icon--inst .socials__link:hover {
  background-image: url("../../image/in-hover.png");
}