.socials__list {
min-width: 174px;
display: flex;
justify-content: space-between;
}

.socials__item {
  vertical-align: middle;
  position: relative;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link:after {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  transition: opacity 0.3s;
}

.socials__link:before {
  display: block;
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px; 
  height: 36px;
  opacity: 0;
  transition: opacity 0.3s;
}

.socials__item--icon--tg .socials__link:after {
  background: url("../../image/socials_sprites.png") -66px -66px;
}

.socials__item--icon--tg .socials__link:before {
  background: url("../../image/socials_sprites.png") -122px -10px;
}

.socials__item--icon--tg:hover .socials__link:before {
  opacity: 1;
}

.socials__item--icon--tg:hover .socials__link:after {
  opacity: 0;
}

.socials__item--icon--vk .socials__link:after {
  background: url("../../image/socials_sprites.png") -66px -122px;
}

.socials__item--icon--vk .socials__link:before {
  background: url("../../image/socials_sprites.png") -10px -122px;
}

.socials__item--icon--vk:hover .socials__link:before {
  opacity: 1;
}

.socials__item--icon--vk:hover .socials__link:after {
  opacity: 0;
}

.socials__item--icon--fb .socials__link:after {
  background: url("../../image/socials_sprites.png") -10px -10px;
}

.socials__item--icon--fb .socials__link:before {
  background: url("../../image/socials_sprites.png") -66px -10px;
}

.socials__item--icon--fb:hover .socials__link:before {
  opacity: 1;
}

.socials__item--icon--fb:hover .socials__link:after {
  opacity: 0;
}

.socials__item--icon--inst .socials__link:after {
  background: url("../../image/socials_sprites.png") -10px -66px;
} 

.socials__item--icon--inst .socials__link:before {
  background: url("../../image/socials_sprites.png") -122px -66px;
} 

.socials__item--icon--inst:hover .socials__link:before {
  opacity: 1;
}

.socials__item--icon--inst:hover .socials__link:after {
  opacity: 0;
}